@import "tailwindcss";

body{
  font-family: 'Poppins', sans-serif;
  
  
}


.backgroundd {
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #fff 50%, rgb(24, 251, 255) 100%);
 
  
}
/* 
.backgrounddd {
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #f9ff42 50%, rgb(231, 228, 255) 100%);
 
  
}
.bb{
  background-color: rgb(156, 253, 255);
}

.backgroundddd {
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #69e4ff 50%, rgb(246, 255, 71) 100%);
 
  
} */


body {
  overflow-x: hidden;
}
